#parse("/views/sys/layout.vm")
#set($style ='
')
#set($javascript ='
')
#@layout($style $javascript $route $request)
<div class="content-wrapper page-height">
    <section class="content-header">
        <h1>
            $pageTitle
            <small><a href="../menu">返回列表</a></small>
        </h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">新增</h3>
            </div>
            <form action="" method="post" class="form-horizontal">
                #parse("/views/sys/menu/_form.vm")
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </section>
</div>
#end